
body{

}
.slider{
	position:relative;
	height:60px;
	width:60px;
	
}
.slider img{
	
	position: absolute;
	top:0px;
	left:0px;
	z-index:-2;
}

.slider  img.top{
	z-index:-1;
}

/*
#slider{
	width:1000px;
	height:300px;
	position:relative;
	overflow:hidden;
	text-align:left;
       }
	   
#slidercontent{
	width:1000px;
	position:absolute;
	top:0;
	margin-left:0;
	   }

.sliderimage{
	float:left;
	position:relative;
	display:none;
		}
		   
.sliderimage span{
	position:absolute;
	padding:10px;
	width:300px;
	height:300px;
	background-color:#000;
	filter:alpha(opacity=70); -moz-opacity:0,7; -khtml-opacity:0,7;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	line-height:150%;
	color:#fff; 
	display:none;
		}
		
.sliderimage span strong{
	color:#ff9428;
	font-size:22px;
	line-height:300%;
		}
		
.clear {clear:both;}
.top { top:0; left:700px}
.bottom {bottom:0; left:0;}

#slider ul {list-style:none;}
#slider ul li{margin-left:0px}

*/





